{% extends "base.html" %}
{% block content %}
<h2>About Me</h2>

<p>
Hi, I'm Levi.  
If my time management allows it I try new ways to break stuff.
If I have even more time, I might also document it.
</p>

<p>
You can find my work here:
</p>

<ul>
    <li>GitHub: <a href="https://github.com/cailllev">github.com/cailllev</a></li>
    <li>More random posts: <a href="/">here</a></li>
    <li>How this blog was build: <a href="https://github.com/cailllev/Blog-Size">Blog-Site</a></li>
    <li>How this server is hosted: <a href="soom.tm">soon.tm</a></li>
</ul>
{% endblock %}
